<!-- inherit from base.html-->
{% extends "base_template.html" %}
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}

<!-- Leaflet.js CSS & JS | Don't Touch -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<style>
    #map {
        height: 450px;
        width: 100%;
        border-radius: 16px;
        margin-bottom: 20px;
    }
</style>

<div class="d-flex justify-content-center">
    <div id="map"></div>
</div>

<script>
    // Initialize the map centered on Yellowstone National Park
    var map = L.map('map').setView([44.5858, -110.5141], 10);

    // Add a tile layer (OpenStreetMap)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    // Add a marker at Yellowstone National Park
    var marker = L.marker([44.5858, -110.5141]).addTo(map)
        .bindPopup("<b>Yellowstone National Park</b><br>Welcome to one of the greatest parks in the U.S.")
        .openPopup();
        
    var marker = L.marker([38.8887, -104.7930]).addTo(map)
        .bindPopup("<b>University of Colorado Colorado Springs</b><br> This marker holds the location for University of Colorado, Colorado Springs.")
        .openPopup();
</script>

{% endblock %}
