<!-- inherit from base.html-->
{% extends "base_template.html" %}
{% load static %}


 

<!-- Replace block content in base_template.html -->
{% block content %}





<div class="d-flex justify-content-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3315140.529795199!2d-110.514057!3d44.585795000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5351e55555555555%3A0xaca8f930348fe1bb!2sYellowstone%20National%20Park!5e1!3m2!1sen!2sus!4v1741043294190!5m2!1sen!2sus" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>



{% endblock %}