[MASTER]
#Skip files we don't want to waste time scanning
ignore=camp_mate_venv,db.sqlite3,Dockerfile,scripts,migrations,manage.py,docker-settings.py


[MESSAGES CONTROL]
# Disable some Django-related false positives
disable=
    missing-module-docstring,      # Don’t require docstrings at the top of every .py file
    missing-class-docstring,       # Don’t require docstrings on every class
    missing-function-docstring,    # Don’t require docstrings on every function
    too-few-public-methods,        # Allow simple classes like Django models/forms
    no-member,                     # Don’t complain about dynamically added attributes (e.g., request.user.username)
    too-many-ancestors,            # Allow multiple inheritance (e.g., Django models)


[FORMAT]
max-line-length=100

[DESIGN]
#Allow models to have up to 15 attributes
max-attributes=15
