{% extends "base_user_template.html" %}
{% load static %}
{% block content %}

<!-- doing extra css to override the body element from base, since i want diff bg image -->
{% block extra_css %}
    <style>
        body {
            background: url("{% static 'images/test.png' %}");
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
{% endblock %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <a class="btn btn-outline-primary" href="{% url 'traverse_calendar' prevyear prevmonth %}">&laquo; Previous</a>
    <h4>{{ month }}/{{ year }}</h4>
    <a class="btn btn-outline-primary" href="{% url 'traverse_calendar' nextyear nextmonth %}">Next &raquo;</a>
</div>

<div class="table-responsive">
    {{ calendar|safe }}
</div>




{% endblock %}

